.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  text-align: center;
}
.flex {
  display: flex;
}
.center {
  justify-content: center;
}
.todo-list {

}
.todo-item {
  border: 1px solid;
  padding: 1em;
  margin: 1em;;
}
.todo-item > button {
  width: 177px;
  margin: 8px 0 0 0;
}
.add-todo {
  display: flex;
  flex-direction: column;
  margin: 2em;
}
.add-todo > button {
  margin: 8px 0 0 0;
}